<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Basic&family=Caveat&family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header class="header">
        <div class="navbar">
            <nav>
                <ul>
                    <li><span><a href="/">Today</a></span></li>
                    <li><span><a href="/work">Work</a></span></li>
                </ul>
            </nav>
        </div>
        
        <div class="title">
            <h1>To<span>do</span> List</h1>
        </div>
        
    </header>